.openUp {
    animation: openUp 5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, transparent 50%, black 50%);
    mask-size: 100% 200%;
}

@keyframes openUp {
    0% {
        mask-position: 0% 0%;
    }

    100% {
        mask-position: 0% 100%;
    }
}